*{
    margin: 1px;
    border: 1px;
}
h1,ul,li{
    display: inline;

}
nav{
    background-color: black;
    color:white;
    padding: 20px;
}

ul{
    margin-left: 60%;
}

li{
    color: grey;
   
}
li:hover{
    color: white;
    cursor: pointer;
}
.searchbar{
    padding: 50px;
    text-align: center;
    /* border:  solid 2px black; */
}
input{
    padding: 15px;
    width: 70%;
}
.box{
    border-color: black;
    border-width: 3px;
    border-style: solid;
    display: inline-block;
    width: 416px;
   
}
.prodect{
    text-align: center;
}
.box:hover{
    background-color: black;
    color:white;
    cursor: pointer;
    
}
.about{
   text-align: center;
    margin: 30px;
}

.contact{
    background-color: black;
    color: white;
    text-align: center;
    
}